@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
}

body {
  background-color: #191765;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  position: relative;
  overflow-x: hidden;
}

.ellipse-one {
  position: absolute;
  width: 160px;
  height: 160px;
  left: -106px;
  top: 160px;
  background: #edecff;
  filter: blur(50px);
}

.ellipse-two {
  position: absolute;
  width: 68px;
  height: 68px;
  left: 339px;
  top: 495px;
  background: #edecff;
  filter: blur(50px);
}

.tools {
  display: grid;
  grid-template: repeat(2, minmax(5vh, 1fr)) / repeat(2, 1fr);
  width: 90%;
  gap: 1em;
}

#mobile-menu-container {
  display: none;
  background-color: #191765;
  width: 100%;
  height: 100vh;
  z-index: 999;
  position: fixed;
  overflow: hidden;
}

.active-close {
  display: none;
  color: #fff;
  font-size: 2.3rem;
  font-weight: 600;
}

#mobile-menu-container span {
  display: flex;
  justify-content: flex-end;
  margin-right: 10%;
  margin-top: 25px;
}

#mobile-menu-container ul {
  position: absolute;
  top: 50px;
  left: 40px;
  width: 80%;
  text-decoration: none;
  list-style: none;
  padding-top: 4rem;
}

.row {
  text-decoration: none;
  color: white;
  font-family: "Roboto", sans-serif;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-weight: 500;
  line-height: 32px;
  font-size: 24px;
}

#mobile-menu-container ul li {
  list-style: none;
  text-decoration: none;
}

.fas {
  color: #7d73fc;
  font-weight: 300;
  font-size: 16px;
}

.ellipse-three {
  display: block;
  position: absolute;
  width: 226px;
  height: 427px;
  left: 0;
  top: 92px;
  background: rgba(237, 236, 255, 0.4);
  filter: blur(50px);
  transform: rotate(25.09deg);
}

.ellipse-four {
  display: block;
  position: absolute;
  width: 420.13px;
  height: 244.06px;
  left: 318.94px;
  top: 432.54px;
  background: rgba(237, 236, 255, 0.9);
  filter: blur(50px);
  transform: rotate(40.52deg);
}

.nav-item {
  list-style: none;
}

.language {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 10px 0;
  color: white;
}

.sublist {
  flex: 1;
  line-height: 1.6;
  font-size: 1.29em;
}

.nav-bar {
  position: relative;
  display: none;
}

.frameworks {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 0;
  color: white;
}

.skill-title {
  margin: 1em 0;
  color: rgb(129, 127, 248);
}

.skills {
  height: 214px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 10px 0;
  color: white;
}

.border-bottom {
  border-bottom: 2px solid rgb(81, 80, 104);
  width: 90%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em 2em;
  height: 5em;
  width: 100%;
  top: 0;
  font-family: "Roboto", sans-serif;
  color: #191765;
  backdrop-filter: blur(5px);
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 90%;
}

.containner {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.work1 {
  display: none;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 2px solid rgb(81, 80, 104);
}

.fab {
  color: white;
}

.icon {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 55%;
  padding: 15px 0;
  color: white;
  column-gap: 12px;
}

.icon1 {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50%;
  padding: 15px 0;
  color: white;
}

.work {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 35%;
  color: rgb(162, 163, 174);
  font-weight: lighter;
  padding: 10px 0;
}

.bars,
.bars::after,
.bars::before {
  display: block;
  width: 2.3em;
  height: 4px;
  background: white;
}

.bars {
  position: relative;
}

.bars::after,
.bars::before {
  content: "";
  position: absolute;
}

.bars::after {
  top: 10px;
}

.bars::before {
  bottom: 10px;
}

.link {
  font-weight: 500;
  letter-spacing: 4px;
  color: white;
  text-decoration: none;
  font-size: 1.3em;
  padding: 0 10px;
}

.logo:hover {
  animation-name: rotate;
  animation-duration: 1.8s;
}

@keyframes rotate {
  from {
    transform: rotateX(0) scale(1);
  }

  50% {
    transform: rotate(180deg) scale(1.2);
  }

  100% {
    transform: rotateX(360deg) scale(1);
  }
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  font-family: "Roboto", sans-serif;
  backdrop-filter: blur(5px);
  margin-left: 24px;
  margin-right: 24px;
}

.nav-open .main {
  display: none;
}

.item1 {
  color: rgb(129, 127, 248);
  padding: 15px 0;
  margin-top: 70px;
  font-weight: 700;
  font-size: 48px;
  line-height: 72px;
}

.item2 {
  color: white;
  padding: 30px 4px;
  margin-bottom: 30px;
  font-weight: 500;
  line-height: 44px;
  font-size: 32px;
}

.item3 {
  text-align: center;
  color: rgb(200, 200, 212);
  font-size: 20px;
  line-height: 28px;
  font-style: normal;
  font-weight: normal;
  padding: 25px 0;
  width: 327px;
  height: 210px;
  font-family: "Inter", sans-serif;
}

.hamburger {
  border: none;
  padding: 0.5em;
  background: transparent;
  z-index: 10;
}

/* Second partie of the project */

.recent-work {
  width: 100%;
  margin-top: 83px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.recent {
  font-family: "Roboto", sans-serif;
  font-size: 40px;
  line-height: 52px;
  color: #7d73fc;
  font-weight: 500;
}

.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: white;
}

.child {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}

.image {
  padding: 15px 0;
  width: 347px;
  height: 240px;
  background-image: url("assets/images/project-one.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.project-name {
  padding: 24px 0;
  font-family: "Roboto", sans-serif;
  line-height: 44px;
  font-size: 32px;
  font-weight: 500;
}

.about-project {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
}

.tools-list {
  width: 100%;
  display: flex;
  padding: 24px 0;
  color: white;
}

.tools-item {
  flex: 1;
  text-align: center;
  color: white;
}

.lile {
  flex: 2;
  text-align: center;
}

.right-border {
  border-right: 2px solid rgb(81, 80, 104);
}

.fnl-btn {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
}

.btn {
  background-color: transparent;
  border: 2px solid white;
  border-radius: 0.5em;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  line-height: 24px;
  font-weight: 500;
  transition: all 0.7s ease;
  margin-top: 17px;
}

.btn:hover {
  box-shadow: 0 8px 16px rgba(125, 115, 252, 0.5);
}

.btn:disabled {
  background: #2a2b33;
}

.btn:active::before {
  background: #5e42d7;
}

.visit {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid black;
  width: 100%;
  padding: 10px 0;
}

.cnct1 {
  font-family: "Roboto", sans-serif;
  font-size: 32px;
  line-height: 44px;
  font-weight: 500;
  color: #5e42d7;
  text-align: center;
  margin-top: 120px;
  margin-bottom: 24px;
}

.cnct2 {
  display: none;
}

.note {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #f5f5ff;
  text-align: center;
  margin-bottom: 24px;
}

.prjct {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  gap: 12px;
}

.prjct label {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}

.wrt {
  height: 48px;
  margin-bottom: 24px;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  color: #81818c;
  border: none;
  background: white;
}

.textarea {
  height: 148px;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  color: #81818c;
  border: none;
  background: white;
}

.frm {
  align-self: center;
}

.faa {
  margin-top: 40px;
}

.final {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.mail {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  margin-bottom: 30px;
  text-align: center;
}

/* The tablet design */
@media (min-width: 600px) {
  .hamburger {
    display: none;
  }

  #mobile-menu-container {
    display: none;
  }

  .nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .nav-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
  }

  .nav-item {
    color: white;
    padding: 0 32px;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    cursor: pointer;
    transition: 0.6s ease-in-out;
  }

  .nav-item:hover {
    transform: scale(1.3);
    color: #7d73fc;
    border: 1px solid #7d73fc;
  }

  .ellipse-one {
    position: absolute;
    width: 184px;
    height: 184px;
    left: 69px;
    top: 237px;
    background: #edecff;
    filter: blur(50px);
  }

  .ellipse-two {
    position: absolute;
    width: 226px;
    height: 226px;
    left: 1143px;
    top: 546px;
    background: #edecff;
    filter: blur(50px);
  }

  .tools {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 40px 0;
  }

  .icon {
    width: 30%;
  }

  .work1 {
    display: block;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 35%;
    color: rgb(162, 163, 174);
    font-weight: lighter;
    margin-right: 150px;
  }

  .work {
    margin-left: 150px;
    display: block;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 35%;
    color: rgb(162, 163, 174);
    font-weight: lighter;
  }

  .recent-work {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 20px;
    align-items: flex-start;
    margin-top: 230px;
  }

  .recent {
    color: #9390ff;
    font-family: "Roboto", sans-serif;
    font-size: 64px;
    font-weight: 700;
    line-height: 114px;
  }

  .project-description {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 80%;
  }

  .image {
    width: 90%;
    height: 450px;
  }

  .note {
    width: 700px;
    align-self: center;
  }

  .wrt {
    width: 680px;
  }

  .textarea {
    width: 680px;
    margin-bottom: 15px;
  }

  .prjct {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 15px 0;
    gap: 12px;
    width: auto;
  }

  .prjct label {
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
  }

  .btn {
    width: 160px;
    padding: 15px 0;
    margin-top: 20px;
  }

  .final {
    width: 55%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .mail {
    margin: 0;
    width: 50%;
  }

  .icon1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .icn {
    width: 30%;
  }

  .icon-item {
    padding: 0 10px;
  }

  .visit {
    border-bottom: 2px solid #3a3837;
    width: 100%;
  }

  .border-bottom {
    border-bottom: 2px solid rgb(81, 80, 104);
    width: 50%;
  }

  .footer {
    width: 90%;
    border-bottom: 2px solid rgb(81, 80, 104);
  }

  .one {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin-top: 100px;
  }

  .cnct2 {
    display: block;
    font-family: "Roboto", sans-serif;
    font-size: 40px;
    line-height: 24px;
    font-weight: 700;
    color: #5e42d7;
    text-align: center;
    margin-top: 120px;
    margin-bottom: 24px;
  }

  .cnct1 {
    display: none;
  }

  .item3 {
    width: 100%;
  }

  .header {
    padding: 1em 4em;
  }

  .btn:disabled {
    background: #9390ff;
  }
}

/* The laptop design */
@media (min-width: 992px) {
  .child {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    padding: 90px 0;
  }

  .first-project {
    display: flex;
    flex-direction: row-reverse;
  }

  .project-description {
    width: 40%;
  }

  .image {
    width: 58%;
  }
}
